@font-face {
    font-family: "Agrandir";
    src: local("Agrandir"),
        url("./fonts/Agrandir-GrandHeavy.woff") format("woff");
}

@font-face {
    font-family: "CashMarket";
    src: local("CashMarket"),
        url("./fonts/CashMarket-RegularRounded.woff2") format("woff");
}

html,
body {
    max-width: 100%;
    scroll-behavior: smooth;
}
